
table {
  margin: 15px auto;

  
}

body {
  text-align: center;
}

h1 {
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 60px;
  height: 80px;
  line-height: 70px;
}

th {
  font-size: 20px;
  height: 50px;
}

td.output {
  width: 700px;
}

